__pycache__
.vscode
venv
.gitignore

dataset/__pycache__
dataset/cache/*
dataset/data/*
dataset/old_cache

evaluate/__pycache__
evaluate/charts/*
evaluate/results/*

old

thesis_trained
trained/*

training/__pycache__
training/keras-squeeze-excite-network
training/logs
training/test_models/*
